[submodule "wheelhouse"]
	path = wheelhouse
	url = git@github.com:sangderenard/wheelhouse.git
    branch = nogodsnomasters

[submodule "asciioscilliscope/eigen"]
	path = asciioscilliscope/eigen
	url = https://github.com/libigl/eigen.git
